<mat-toolbar class="bg-black">
  <div class="flex items-center justify-between w-full px-4">
    <div class="flex items-center">
      <a routerLink="/" class="text-white text-lg font-bold">J-Store</a>
    </div>
    <div class="relative flex items-center flex-grow ml-4 max-w-2xl">
      <input type="text" class="py-0.5 px-3 bg-white border border-gray-300 rounded-md focus:outline-none w-full" placeholder="Search">
      <div class="absolute inset-y-0 right-0 flex items-center px-2 rounded-e-md bg-yellow-500" (click)="onSearch()">
        <mat-icon class="text-gray-800">search</mat-icon>
      </div>
    </div>
    <div class="flex items-center">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon [matBadge]="itemsQuantity" [matBadgeHidden]="!itemsQuantity" matBadgeColor="warn" class="text-white mr-2">shopping_cart</mat-icon>
      </button>
    </div>
  </div>
  <mat-menu #menu="matMenu">
    <div class="p-3 devide-y divide-solid">
      <div class="p-3 flex justify-between">
        <span class="mr-16">{{itemsQuantity}} items</span>
        <a routerLink="cart">View Cart</a>
      </div>
      <div *ngIf="cart.items.length" class="py-3">
        <div *ngFor="let item of cart.items" class="flex justify-between font-light mb-2">
          {{item.name}} x {{item.quantity}}
          <span class="font-bold">{{ item.price| currency}}</span>
        </div>
      </div>
      <div class="flex justify-between py-3 font-light">
        Total: <span class="font-bold">{{ getTotal(cart.items) | currency}}</span>
      </div>
      <div class="pt-3 flex justify-between">
        <button (click)="onClearCart()" class="bg-rose-600 text-white rounded-full w-9 h-9">
          <mat-icon>remove_shopping_cart</mat-icon>
        </button>
        <button routerLink="cart" class="bg-green-600 text-white rounded-full w-9 h-9">
          <mat-icon>shopping_cart</mat-icon>
        </button>
      </div>
    </div>
  </mat-menu>
</mat-toolbar>
<nav class="bg-gray-900">
  <div class="flex text-white p-2">
    <span class="mr-1">Delivery to</span>
    <span class="ml-1"><strong>Canada</strong></span>
  </div>
</nav>
